@inject IJSRuntime JsRuntime

<h2>Call Javascript from DotNet</h2>
<button class="btn btn-primary" @onclick="ShowAlert">Call JS from Blazor component</button>

<hr />

@code {
    private async Task ShowAlert()
    {
        await JsRuntime.InvokeVoidAsync("showAlert", "A message using JsRuntime");
    }
}
