@page "/js-interop"
@using Blazor.Charts.Client.Components

<h2 class="mb-5">JS Interop</h2>

<CallJsFromDotNet></CallJsFromDotNet>

<CallDotNetFromJs></CallDotNetFromJs>

<CallComponentMethodFromJs></CallComponentMethodFromJs>